Repository YukiY727/python-libs: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, autoflake, flake8, bandit, mdformat-check, mdformat, pylint, pyupgrade, python-safety-dependencies-check, rstcheck, codespell

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --in-place

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

mdformat-check:
  name: mdformat-check
  entry: mdformat
  language: system
  args:
  - --check

mdformat:
  name: mdformat
  entry: mdformat
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  language: system

python-safety-dependencies-check:
  name: python-safety-dependencies-check
  entry: bash -c 'poetry export -f requirements.txt --without-hashes | safety check --stdin'
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system

codespell:
  name: codespell
  entry: codespell
  language: system
  args:
  - --ignore-words=ci/ignore_words.txt

_error_not_start_transactionを実装
  sqlmy/database.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

database classのエラーを充実
  sqlmy/database.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

pre-commitを並列で処理されるように変更
  .pre-commit-config.yaml
Due: codespell

get_schema関係の処理を追加
  sqlmy/database.py
  tests/test_sqlmy/test_database.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

pandasとsqlの型に関する処理を実装
  sqlmy/database.py
  tests/test_sqlmy/test_database.py
  utils/convert_type/pandas_sql.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

df_to_tableを実装
  poetry.lock
  pyproject.toml
  sqlmy/database.py
  tests/test_sqlmy/test_database.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

stock_dateを実装
  sqlmy/db_factori.py
  sqlmy/models.py
  sqlmy/repository/stock_data.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

TestDbFactoryを実装
  sqlmy/db_factory.py
  tests/test_sqlmy/conftest.py
  tests/test_sqlmy/test_db_factory.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

pytest workflowからtest_databaseをignore
  .github/workflows/pytest.yml
Due: codespell

logをdbへ保存するhundlerを実装
  .github/workflows/pytest.yml
  sqlmy/database.py
  sqlmy/db_factory.py
  sqlmy/repository/log_data.py
  tests/conftest.py
  tests/test_sqlmy/conftest.py
  tests/test_sqlmy/test_database.py
  tests/test_utils/test_log_hundler.py
  utils/convert_type/__init__.py
  utils/logs/__init__.py
  utils/logs/hundler.py
  utils/time_zone/time.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

pytest workflowsのignoreを修正
  .github/workflows/pytest.yml
Due: codespell

utilsとmysqlをlibsディレクトリ下へ
  libs/__init__.py
  libs/sqlmy/__init__.py
  libs/sqlmy/database.py
  libs/sqlmy/db_factory.py
  libs/sqlmy/models.py
  libs/sqlmy/repository/log_data.py
  libs/sqlmy/repository/stock_data.py
  libs/utils/__init__.py
  libs/utils/convert_type/__init__.py
  libs/utils/convert_type/pandas_sql.py
  libs/utils/logs/__init__.py
  libs/utils/logs/hundler.py
  libs/utils/singleton.py
  libs/utils/time_zone/time.py
  tests/conftest.py
  tests/test_sqlmy/test_database.py
  tests/test_sqlmy/test_db_factory.py
  tests/test_utils/test_log_hundler.py
  tests/test_utils/test_singleton.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

readme追加
  README.md
  poetry.lock
  pyproject.toml
Due: blacken-docs, mdformat-check, mdformat, codespell

devcontainerからpostcomand削除
  .devcontainer/devcontainer.json
Due: codespell

handlerのtypoを修正
  libs/utils/logs/handler.py
  tests/test_utils/test_log_hundler.py
Due: blacken-docs, autoflake, flake8, bandit, pylint, pyupgrade, codespell

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  autoflake: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$
  mdformat-check: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pyupgrade: any of: \.py$
  python-safety-dependencies-check: any of: requirements\.txt$
  rstcheck: any of: \.rst$
  codespell: any of: .*
